strong {
  font-weight: 600;
}

.typography-claim-super {
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
@media only screen and (max-width: 1068px) {
  .typography-claim-super {
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
  }
}
@media only screen and (max-width: 734px) {
  .typography-claim-super {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
  }
}
.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media only screen and (max-width: 734px) {
  .section-content {
    margin-left: auto;
    margin-right: auto;
    width: 82.5%;
  }
}

.claim-copy,
.claim-title {
  display: block;
}
.claim-grid {
  --gap: 1px;
  --small-border-top: 1px solid #d2d2d7;
  margin: 0;
  width: 100%;
}
@media only screen and (min-width: 735px) {
  .claim-grid {
    --col-1: 360px;
    --col-2: 385px;
    grid-template-columns: calc(var(--col-1) + var(--bg-overflow) / 2) 1fr calc(
        var(--col-2) + var(--bg-overflow) / 2
      );
    grid-auto-rows: minmax(200px, auto);
    grid-gap: var(--gap);
    padding-bottom: var(--gap);
    width: 100%;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .claim-grid {
    --col-1: 290px;
    --col-2: 285px;
  }
}
@media only screen and (min-width: 735px) {
  html:not(.text-zoom) .claim-grid {
    display: grid;
  }
}
.claim-grid-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 735px) {
  .claim-grid-container {
    --bg-overflow: 400px;
    width: calc(100% + var(--bg-overflow));
    transform: translateX(-50%);
    left: 50%;
  }
}
@media only screen and (max-width: 1068px) {
  .claim-grid-container {
    --bg-overflow: 120px;
  }
}
.claim-grid-background {
  position: absolute;
  z-index: -1;
  top: -5%;
  right: 0;
  bottom: -50%;
  left: 0;
  margin: auto;
  background: radial-gradient(closest-side, #d2d2d7, transparent);
}
@media only screen and (max-width: 734px) {
  .claim-grid-background {
    display: none;
  }
}
.claim-grid .claim {
  background: black;
  list-style-type: none;
}
@media only screen and (max-width: 734px) {
  .claim-grid .claim {
    background: transparent;
    padding-bottom: 35px;
  }
}
@media only screen and (max-width: 734px) {
  .claim-grid .claim + .claim {
    border-top: var(--small-border-top);
    padding-top: 25px;
  }
}
@media only screen and (min-width: 735px) {
  .claim-grid .claim {
    padding: 70px 40px 85px 60px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .claim-grid .claim {
    padding: 55px 25px 60px 45px;
  }
}
@media only screen and (min-width: 735px) {
  .claim-grid .claim:first-child,
  .claim-grid .claim:nth-child(4n),
  .claim-grid .claim:nth-child(4n + 5) {
    grid-column: span 2;
  }
}
.claim-grid .claim:nth-child(4n + 2) .claim-title,
.claim-grid .claim:nth-child(4n-1) .claim-title {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
@media only screen and (max-width: 1068px) {
  .claim-grid .claim:nth-child(4n + 2) .claim-title,
  .claim-grid .claim:nth-child(4n-1) .claim-title {
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: 0.009em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
  }
}
@media only screen and (max-width: 734px) {
  .claim-grid .claim:nth-child(4n + 2) .claim-title,
  .claim-grid .claim:nth-child(4n-1) .claim-title {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
  }
}
@media only screen and (min-width: 1069px) {
  html:not(.text-zoom) .claim-grid .claim:nth-child(odd) {
    padding-left: calc(81.66667px + var(--bg-overflow) / 2);
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .claim-grid .claim:nth-child(odd) {
    padding-left: calc(var(--bg-overflow) / 2);
  }
}
@media only screen and (min-width: 1069px) {
  html:not(.text-zoom) .claim-grid .claim:nth-child(2n) {
    padding-right: calc(81.66667px + var(--bg-overflow) / 2);
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .claim-grid .claim:nth-child(2n) {
    padding-right: calc(var(--bg-overflow) / 2);
  }
}
.claim-grid .claim-title {
  margin-bottom: 15px;
}
@media only screen and (max-width: 1068px) {
  .claim-grid .claim-title {
    margin-bottom: 8px;
  }
}
.section-chip .chip-grid-full-width {
  overflow: hidden;
}
.section-chip .claim-grid-container {
  position: relative;
  z-index: 1;
  margin-top: 61px;
}
@media only screen and (max-width: 734px) {
  .section-chip .claim-grid-container {
    margin-top: 93px;
  }
}
@media only screen and (min-width: 735px) {
  .section-chip .claim-grid {
    padding-top: var(--gap);
  }
}
@media only screen and (max-width: 734px) {
  .section-chip .claim-grid {
    border-top: var(--small-border-top);
  }
}
.section-chip .claim-grid-background {
  top: -50%;
}
@media only screen and (min-width: 1069px) {
  .section-chip .claim-gpu {
    padding-bottom: 62px;
  }
}
@media only screen and (max-width: 734px) {
  .section-chip .claim-gpu {
    padding-top: 32px;
  }
}
@media only screen and (min-width: 735px) {
  .section-chip .claim-gpu .claim-title {
    max-width: 6em;
  }
}
@media only screen and (min-width: 1069px) {
  .section-chip .claim-gpu .claim-copy {
    max-width: 18em;
  }
}
@media only screen and (min-width: 1069px) {
  html:not(.text-zoom) .section-chip .claim-cpu:nth-child(2) {
    padding-right: calc(45px + var(--bg-overflow) / 2);
    padding-top: 64px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  html:not(.text-zoom) .section-chip .claim-cpu:nth-child(2) {
    padding-left: 68px;
    padding-top: 79px;
  }
}
@media only screen and (min-width: 1069px) {
  .section-chip .claim-operations {
    padding-top: 53px;
    padding-bottom: 53px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .section-chip .claim-operations {
    padding-top: 48px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 735px) {
  .section-chip .claim-operations .claim-title {
    max-width: 6.2em;
  }
}
@media only screen and (min-width: 735px) {
  .section-chip .claim-operations .claim-copy {
    max-width: 11em;
  }
}
@media only screen and (min-width: 1069px) {
  .section-chip .claim-isp {
    padding-left: 125px;
    padding-right: 55px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 735px) {
  .section-chip .claim-isp {
    padding-top: 68px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .section-chip .claim-isp {
    padding-right: 0;
    padding-bottom: 42px;
  }
}
@media only screen and (min-width: 1069px) {
  .section-chip .claim-isp .claim-copy {
    max-width: 20em;
  }
}
@media only screen and (min-width: 1069px) {
  .section-chip .claim-secure-enclave {
    padding-left: 127px;
    padding-top: 62px;
    padding-bottom: 75px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .section-chip .claim-secure-enclave {
    padding-top: 55px;
    padding-bottom: 66px;
  }
}
@media only screen and (min-width: 735px) {
  .section-chip .claim-secure-enclave .claim-title {
    max-width: 6em;
  }
}
@media only screen and (min-width: 735px) {
  .section-chip .claim-secure-enclave .claim-copy {
    max-width: 17em;
  }
}
@media only screen and (min-width: 1069px) {
  .section-chip .claim-audio-processing {
    padding-top: 67px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .section-chip .claim-audio-processing {
    padding-top: 59px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .section-chip .claim-audio-processing .claim-title {
    max-width: 9em;
  }
}
@media only screen and (min-width: 735px) {
  .section-chip .claim-audio-processing .claim-copy {
    max-width: 12em;
  }
}
.main strong {
  color: #1d1d1f;
}
.main ul:not([class*='offset']) {
  margin-left: 0;
}
